/* Cousine */
@font-face {
	font-family: 'Cousine';
	src: url('Cousine-Regular.woff') format('woff');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Cousine';
	src: url('Cousine-Bold.woff') format('woff');
	font-style: normal;
	font-weight: bold;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Cousine';
	src: url('Cousine-Italic.woff') format('woff');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}


body {
	font-family: 'Cousine', monospace;
	font-size: 14px;
	background-color: #2f343f;
	color: #f7f2ed;
	margin: 0;
	line-height: 1.5;
}

a {
	color: #2f343f;
	background-color: #f7f2ed;
}

.nav a {
	text-decoration: none;
}

a:hover {
	background-color: #2f343f;
	color: #f7f2ed;
}

.nav {
	max-width: 600px;
	padding: 16px;
	margin: 0 auto;
}

.post {
	max-width: 600px;
	padding: 16px;
	margin: 0 auto 16px;
	background-color: #f7f2ed;
	color: #2f343f;
}

.title, h1.title {
	margin-top: 0;
	font-weight: bold;
	font-size: 14px;
}

.pagenav {
	height: 16px;
}

.pagelink {
	display: inline;
}

.post img {
	display: block;
	margin: 16px auto;
	max-width: 100%;
}

.post video {
	max-width: calc(100% + 32px);
	margin-left: -16px;
}

audio {
	width: 100%;
}
