{% extends "layout.html" %}
{% block content %}
<div class="post">
<h1 class="title">about</h1>
<p>My name is Dmitry. I'm interested in design for print and web, dance music, and large datasets. <a href="#">Here's my CV.</a></p>
</div>
{% endblock %}
