{% extends "layout.html" %}
{% block content %}
<div class="post">
<p class="title">archive</p>
{% if titles %}
	{% for title in titles %}
		<p class="title"><a href="/posts/{{ title }}">{{ title }}</a></p>
	{% endfor %}
{% endif %}
</div>
{% endblock %}
