<!DOCTYPE HTML>
<head>
	<meta charset=UTF-8 name=viewport content="width=device-width, initial-scale=1">
	{% if title %}
		<title>ds0 - {{ title }}</title>
	{% else %}
		<title>ds0</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
	
	<div class="nav">
		<a href="/">ds0</a> / <a href="/about">about</a> / <a href="/archive">archive</a> / <a href="/mixes">mixes</a>
	</div>

	<div class="main">
		{% block content %}
		{% endblock %}

		{% if page and posts|length == 10 %}
			<div class="post pagenav" style="padding-bottom: 16px;">
				{% if page == 2 %}
				<p class = "title pagelink" style="float:left;"><a href="/">&lt;&lt; Newer</a></p>
				{% elif page != 1 %}
				<p class = "title pagelink" style="float:left;"><a href="/page/{{ page - 1 }}">&lt;&lt; Newer</a></p>
				{% endif %}
				{% if posts and posts|length == 10 %}
				<p class = "title pagelink" style="float:right;"><a href="/page/{{ page + 1 }}">Older &gt;&gt;</a></p>
				{% endif %}
			</div>
		{% endif %}
	</div>

	<div class="nav" style="padding-top:0"><a href="https://cynical.online">???</a></div>

</body>
