{% extends "layout.html" %}
{% block content %}
<div class="post">
<h1 class="title">mixes</h1>
<div class="content">
	<p>Recordings of my DJ, uhhh, "sets" are kept here. Check back irregularly.</p>
</div>
</div>

<div class="post">
<div class="content">
	<img src="/media/sdmix.jpg"></img>
	<em>sdmix</em><br/>
	<audio controls>
		<source src="/media/sdmix.mp3">
	</audio>
	<p>Droning, repetitive house music got me through the heat wave of 2018. Of course I snuck in something Russian.</p>
</div>
</div>


<div class="post">
<div class="content">
	<em>17mix</em><br/>
	<audio controls>
		<source src="/media/17mix.mp3">
	</audio>
	<p>I got really serious about learning to DJ properly around December. A tryhard mix of the best music I heard during 2017, with exactly three jokes.</p>
</div>
</div>

<div class="post">
<div class="content">
	<em>rumix</em><br/>
	<audio controls>
		<source src="/media/rumix.mp3">
	</audio>
	<p>A compilation of Eastern Euro sounds. Might contain the best Russian dance music, since there isn't a lot of it that's any good.</p>
</div>
</div>

<div class="post">
<div class="content">
	<em>discopath mix</em><br/>
	<audio controls>
		<source src="/media/discopath_mix.mp3">
	</audio>
	<p>Made with my friend N. when I didn't know how to mix stuff and insisted on doing it live instead of just making it in Audacity mixtape-style.</p>
</div>
</div>
{% endblock %}
