{% extends "layout.html" %}
{% block content %}
	{% if posts %}
		{% for post in posts %}
		<div class="post">
			<h1 class="title"><a href="/posts/{{ post['title'] }}">{{ post['title'] }}</a></h1>
			<div class="content">{{ post['content'] | safe }}</div>
		</div>
		{% endfor %}
	{% endif %}
{% endblock %}
